<div class="container">
	<div class="page-header">
		<h1>
			THE BEST ASIAN FOOD <small>Chinese, thailand and Cambodia</small>
		</h1>
	</div>
	
	<ul class="nav nav-tabs">
		<li role="presentation" *ngFor="let group of groups" routerLinkActive="active">
			<a [routerLink]="['/pageMenu', group]">{{group | uppercase}}</a>
		</li>
		
		
		
<!-- 		<li role="presentation"><a [routerLink]="['/pageMenu', 'Repas Complet']">Repas Complet</a></li>
		<li role="presentation"><a [routerLink]="['/pageMenu', 'soupe']">Soupe</a></li>
		<li role="presentation"><a [routerLink]="['/pageMenu', 'enfants']">Enfants</a></li>
		<li role="presentation"><a [routerLink]="['/pageMenu', 'special']">Special</a></li> -->
	</ul>
	
	<br>
	
	<router-outlet></router-outlet>
</div>