<div class="container">
	<div class="page-header">
		<h1>
			Example page header <small>Subtext for header</small>
		</h1>
	</div>
	
	<ul class="nav nav-tabs nav-justified">
		<li role="presentation" class="active"><a href="#">Repas Complet</a></li>
		<li role="presentation"><a href="#">Soupe</a></li>
		<li role="presentation"><a href="#">Enfants</a></li>
		<li role="presentation"><a href="#">Spécial</a></li>
	</ul>
	
	<br>
	
	<div>
	
		<div class="row">
			<div *ngFor="let repas of repases" class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="{{imgUrl}}{{repas.img}}" alt="{{repas.img}}">
					<div class="caption">
						<h3>{{repas.name}}</h3>
						<p>{{repas.price}}</p>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>