// RED
$red: #A31A21;
$darkred: #7C0208;
$lightred: #E05960;
$brightred: #FB8D92;

// Black
$black: black;
$lightblack: #1f1f1f;
$gray: #eceff1;

// Typo
$font-color: $red;
$contrast-font-color: white;

//
$hover-background-color: $contrast-font-color;