<div class="page-home">
	<div class="container page-home-content">
		<img src="img/HomePage01.jpg" alt="GeneralTao" class="banner">
		<div class="banner-box">
			<h1 class="banner-caption">Sweet and Crispy<br>General Tao</h1>
		</div>
	</div>
	<section class="container section01 text-center">
		<div class="row">
			<div class="left col-sm-6">
				<h1>Sample Subject 01</h1>
				<p>Some text about the sample subject 01</p>
			</div>
			<div class="right col-sm-6">
				<h1>Sample Subject 01</h1>
				<p>Some text about the sample subject 01</p>
			</div>
		</div>
	</section>

	<section class="container section02">
		<div class="slide">
			<div class="slide-wrapper">
				<img src="img/HomePage02.jpg">
			</div>
		</div>
	</section>
	
	<section class="container section03">
		<div class="row text-center section-bar">
			<div class="col-xs-6 col-md-3">
				<img src="img/GeneralTao-02.jpg" alt="..." class="img-thumbnail">
			</div>
			
			<!-- temp -->
			<div class="col-xs-6 col-md-3">
				<img src="img/GeneralTao-02.jpg" alt="..." class="img-thumbnail">
			</div>
			<div class="col-xs-6 col-md-3">
				<img src="img/GeneralTao-02.jpg" alt="..." class="img-thumbnail">
			</div>
			<div class="col-xs-6 col-md-3">
				<img src="img/GeneralTao-02.jpg" alt="..." class="img-thumbnail">
			</div>
		</div>
	</section>
</div>
