$home-section-height: 180px;
$home-border: 8px $lightred double;
.page-home {
	background-color: $gray;
	
	.page-home-content {
		padding: 0px;
		
		.banner {
			width: 100%;
		}
		.banner-box {
			background-color: rgba($contrast-font-color, $half);
			width: 350px;
			height: 150px;
			position: absolute;
			top: 200px;
			.banner-caption {
				margin-left: 20px;
				margin-top: 35px;
				color: $contrast-font-color;
			}
		}
	}

	.section01 {
		.left {
			height: $home-section-height;
			background-color: $lightred;
			color: $contrast-font-color;
			padding: 0px;
			padding-top: 30px;
		}
		.right {
			height: $home-section-height;
			background-color: $blue;
			color: $lightred;
			padding: 0px;
			padding-top: 30px;
		}
	}

	.section02 {
		padding: 0px;
		
		.slide {
			.slide-wrapper {
				//temp
				background-color: $brightred;
				// END temp
			}
			img {
				width: 100%;
				padding: 10px;
			}
		}
	}

	.section03 {
		
		.section-bar {
			padding: 10px;
			border-top: $home-border;
			border-bottom: $home-border;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}