@import 'common/color';
@import 'nav';
@import 'footer';
@import 'page-menu';

body {
	font-family: 'Karma', serif;
	//font-family: 'Sarpanch', sans-serif;
}
.background {
	//background-color: $gray;
}
.page-content {
	min-height: 500px;
	padding-top: 75px;
}